<div class="jumbotron">
	<h1> Item </h1>
	<% if @item.status == true %>
		<h5>Sold</h5>
		<% else %>
		<h5>Available</h5>
	<% end %>
	<h4><%= @item.category %></h4>
	<h2><%= @item.name %></h2>
	<h3><%= @item.price %></h3>
	<p><%= @item.description %></p>
	<%= link_to 'Back', items_path %>
</div>