<div class="jumbotron">
	<h1> Item </h1>
	<h2><%= @item.category %></h2>
	<h2><%= @item.name %></h2>
	<h3><%= @item.price %></h3>
	<p><%= @item.description %></p>
	<%= link_to 'Back', items_path %>
</div>